.gridBox .jqGrid .iconBox .left15{
	float: left;
    width: 13%;
    position: relative;
}
.gridBox .jqGrid .iconBox .right85{
    float: left;
    width: 85%;
    padding-bottom: 10px;
}

.jqGrid .iconBox ul{
	text-align: left;
    display: inline;
}
.jqGrid .iconBox ul li{
	margin-left: 10px;
}
.jqGrid .iconBox ul li.fontfui{
    color: #999;
}
.contBox{
	border: 1px solid #ccc;
    padding:  20px 30px;
    margin: 20px;
}
.contBox .listBox{
	   
}
.contBox .listBoxbottom{
	   margin-bottom: 20px;
}
.contBox .listBox h5{
	border-left: 4px solid #3c89cd;
    height: 16px;
    line-height: 16px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.contBox .listBox ul{
	margin-top: 10px;
}
.contBox .listBox ul:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.contBox .listBox ul li{
	float: left;
	width:25%;
    line-height: 22px;
}
.contBox .listBox ul .specialLi{
	width:50%;
}
.contBox .listBox ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.contBox .listBox ul li span{
	float: left;
	 white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
        max-width: 200px;
}
.contBox .listBox ul li .address{
	float: left;
	 white-space: normal;
    overflow: auto;
        max-width: 198px;
}
.contBox .listBox ul li .specialSpan{
       max-width: 85%;
}

.contBox .listBox ul li a{
	float: left;
	color:#3c89cd;
}
.contBox .listBox ul li .name{
	float: left;
	color:#666;
	width: 90px;
    text-align: right;
}
.contBox .listBox ul li .cont{
	color:#333;
	    margin: 0 10px;
}

.bodyBox .bodyContentBox .Tab .screenBox .left{
	width:100%;
	    border-right:none;
}
.bodyBox .bodyContentBox .Tab .screenBox .left ul li{
	width:25%;
	position: relative;
}
.bodyContentBox .Tab .screenBox .left .labe{
	width: 80px;
	 float: left;
    font-size: 12px;
    color: #333;
    margin-right: 15px;
    line-height: 24px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.contBox .listBoxOC{
	    margin-top: 10px;
	    text-align: center;
}

.contBox .listHidden{
	   display: none;
}
.listLi li{
	    margin-bottom: 8px;
}
.mark{
	width:444px;
}
.contBox .listBoxOC .more-btn{
	padding:1px 6px;
	color:#3c89cd;
	border: 1px solid #3c89cd;
	text-align: center;
	cursor: pointer;
}
.contBox .listBox ul li #orderType{
	width: 137px;
}
.gridBox .sortBox{
    padding: 10px;
    height: 100%;
    border: 1px solid #dedede;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.sortBox .left{
	float:left;
}
.sortBox .left .selectMore{
	    float: left;
}
.sortBox .left .selectMore .xzMark{
	 margin-left:45px; 
}
.sortBox .left .selectMore .choice span{
	 float:left;
	 line-height: 24px;
}
.sortBox .left .selectMore .choice input{
	     float: left;
    margin-top: 6px;
    margin-right: 2px;
}
.sortBox .left .selectMore .choice label{
	 float:left;
}
.sortBox .left .name{
	float:left;
	margin-right: 5px;
	margin-top: 3px;
}
.sortBox .left .com{
	float:left;
	margin-right: 15px;
}
.sortBox .left .com2{
	width:95px;
}
.AllSelect_title span{
	width:80% !important;
}
.infoBox{
	   padding: 15px 20px;
	   height: 18px;
	    text-align: right;
}

.infoBox ul{
	  display: inline-block;
}
.infoBox ul:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.infoBox ul li{
	  float:left;
	  margin-left: 60px;
}
.infoBox ul li span{
	color:red;
}
.jqGrid{
	 padding: 0 20px;
}
.iconBox .right{
    text-align: right;
}
.JGtab .inputWidth{
    width: 80%;
}
.fontdel{
	    color: #999;
    text-decoration: line-through;
}
.SetTiemBox{
	    height: 20px;
	    width: 85%;
	    border: 1px solid #ccc;
	    display: inline-block;
	    background-color: #fff;
}
.popup .rowBox input{
	width: 156px;
	float:left;
}
.popup span.w110 {
    float: left;
    font-size: 12px;
    color: #333;
    margin-right: 9px;
    line-height: 24px;
    width: 110px;
    text-align: right;
    white-space: nowrap;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.popup {
    height: 100%;
}
.popup input.big {
    width: 156px;
    height: 24px;
    float: left;
}
.popup select.big {
    width: 162px;
    height: 24px;
    float: left;
}
.popup .rowBox {
    min-height: 24px;
    margin-bottom: 10px;
    overflow: hidden;
}

#backdropId{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    z-index:9998;
    filter:'alpha(opacity=60)';
    opacity:0.6;
}
#myModal3{
	width:940px;
	height:530px;
	z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: -471px;
    margin-top: -280px;
   
    overflow: hidden;
    border-radius: 4px;
}
#myModal3 .modal-header{
	    padding: 2px 15px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
     padding: 10px 20px;
}

#myModal3 .modal-header h5{
	float:left;
	font-size: 15px;
	font-weight: bold;
}
#myModal3 .modal-header span {
	float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.5;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

#myModal3 .box-body{
	    padding: 20px;
	    max-height: 420px;
    overflow-y: auto;
}

#myModal3 .box-body .inputBox{
	 overflow: hidden;
     border: 1px solid #ccc;
     padding: 10px;
}
#myModal3 .box-body .inputBox li{
	 float: left;
	 width: 33%;
}

#myModal3 .box-body .addBox{
	overflow: hidden;
	margin: 15px 0;
}
#myModal3 .box-body .addBox span{
	float: left;
	font-weight: bold;
}
#myModal3 .box-body .addBox a{
	float: right;
	margin-left: 10px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}.progress {
  height: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#myModal5{
	min-width:200px;
}
#errorFlag{
	margin-top: 10px;
}
#errorFlag .p1{
	margin-top: 5px;
}
.actionType{
	margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}
a.line {
    color: #314A9C;
    text-decoration: underline;
}
a.likeStyle{
	color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
}
a.likeStyle:hover{
    background-color: #57a1e3;
}
#myModalReason .rowBox {
    min-height: 24px;
    margin-bottom: 10px;
    overflow: hidden;
}
#myModalReason .rowBox select.big{
	width: 153px;
    height: 24px;
    float: left;
}
